.wrapper

  include ./header

  .content-wrapper
    .content-left
      a.export-history(href="", ng-csv="sessionCsv()", filename="wikiwash-session.csv").
        Download history as CSV
      .collection(fixed-height offset="150")
        .revisions(ng-repeat='revision in revisions track by $index'
          ng-class="{ 'active-revision': currentRevId == revision.revid }"
          class="{{$index == 0 ? 'wow fadeInDown' : ''}}")
          a.revision-link(
            href="{{ 'p.revision' | routeSegmentUrl: {page: pageName, revId: revision.revid + '-' + revision.parentid} }}"
            title="View revision"
          )
          .timestamp
            p {{revision.timestamp | date:'shortTime'}}
            p.date {{revision.timestamp | date:'mediumDate'}}
          .user_comment
            a(
              href="https://en.wikipedia.org/wiki/Special:Contributions/{{revision.user}}"
              target="_blank"
              title="View previous contributions"
            )
              p.username {{revision.user}}
            span(ng-if="revision.geo")
              a.geo(
                target="_blank"
                href="https://www.google.com/maps/search/{{revision.geo}}/"
                title="View in Google Maps"
              ) {{revision.geo}}
            a(
              href="{{ 'p.revision' | routeSegmentUrl: {page: pageName, revId: revision.revid + '-' + revision.parentid} }}"
              title="View revision"
            )
              p.comment(ng-if="revision.comment.length > 0") {{revision.comment}}
              p.comment(ng-if="revision.comment.length <= 0") Comment was not entered.
          .data
            p.added {{revision.added ? "+" + revision.added : ''}}
            p.removed {{revision.removed ? "-" + revision.removed : ''}}
      .footer
        .top-stats
          p {{revisions.length}} edits by {{totalUsers}} people since {{ firstEditDate | date: 'mediumDate'}}
        .bottom-stats
          .edits-per-user
            p Avg edits/user
            p.number {{editsPerUser}}
          .time-between-edits
            p Avg time between edits
            p.number {{timeBetweenEdits}} Hours

    .ww-loading(ng-show="loading")
      img.animated-infinite.zoomOutRight(src="/img/WIKIWASH-W1-Loading.png")
      img.animated-infinite.zoomOutLeft(src="/img/WIKIWASH-W2-Loading%402x.png")

    .content-right(ng-show="noResults")
      .wikidiff.mw-headline Looks like there is no Wikipedia page for this query. Try finding the page on Wikipedia and pasting the URL into the search bar. 
    .content-right(app-view-segment="1" ww-scroll fixed-height offset="75")

.overlay(ng-show="showModal" ng-click="showModal = !showModal")

include ./about-modal
